<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>net.froly.osw.Main ActivityService</servlet-name>
        <servlet-class>net.froly.osw.server.model.ActivityServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>net.froly.osw.Main ContactService</servlet-name>
        <servlet-class>net.froly.osw.server.model.ContactServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>net.froly.osw.Main ActivityService</servlet-name>
        <url-pattern>/Main/ActivityService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>net.froly.osw.Main ContactService</servlet-name>
        <url-pattern>/Main/ContactService</url-pattern>
    </servlet-mapping>
</web-app>
